header .logo {
  vertical-align: middle;
}

.home[posts] .summary .featured-image-preview img {
  position: relative;
  border-radius: 15px;
}

.home[posts] .summary .featured-image-preview {
  padding: 0 0 0;
}

.home[posts] .summary {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  max-width: 600px;
  margin: auto;
}

.single .content figure {
  margin: 2rem 0rem 2rem 0rem;
}

.justice-container .justice-mug.conservative {
  background-color: #feecec;
}
.justice-container .justice-mug.liberal {
  background-color: #d5e7f0;
}

.justice-container .justice-mug {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
}

.justice-container .justice-mug img {
  width: 100%;
}
