header .logo {
  vertical-align: middle;
}

.echarts {
  padding: 1em 0 1em 0;
}

.home[posts] .summary .featured-image-preview img {
  position: relative;
  border-radius: 15px;
}

.home[posts] .summary .featured-image-preview {
  padding: 0 0 0;
}

.home[posts] .summary {
  padding-top: 1rem;
  padding-bottom: 0.8rem;
  max-width: 600px;
  margin: auto;
}

.single .content figure {
  margin: 2rem 0rem 2rem 0rem;
}

.justice-container .justice-mug.conservative {
  background-color: #feecec;
}
.justice-container .justice-mug.liberal {
  background-color: #d5e7f0;
}

.justice-container .justice-mug {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
}

.justice-container .justice-mug img {
  width: 100%;
}

.voter-detail {
  max-width: 650px;
  /*margin: 20px auto 80px;*/
  font-family: din-2014, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.voter-detail .key {
  font-weight: 400;
  text-align: left;
  margin: 0 0 15px;
  font-family: din-2014, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
}
.voter-detail .key {
  fill: #fff;
  font-weight: 700;
  text-anchor: middle;
  alignment-baseline: central;
}
.detail .key {
  font-family: din-2014, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-size: 0.8rem;
  padding-right: 3px;
  margin: 10px auto;
  width: auto;
}
.voter-detail .key .key-swatch {
  background-color: #fffab7;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #ddd;
}
.voter-detail .column {
  width: 50%;
  padding: 0 10px;
}
.voter-detail .row {
  margin: 0;
}
.voter-detail .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.voter-detail .column h4 div {
  margin-right: 2px;
}
/*
.voter-detail .party-swatch.dem {
  background-color: #3571c0;
}
.voter-detail .party-swatch.gop {
  background-color: #fe5c40;
}*/
.voter-detail .party-swatch {
  display: inline-block;
  /*width: 10px;*/
  height: 10px;
  margin: auto 5px;
  border-radius: 15px;
}
.voter-detail .vote-line.key-vote {
  background-color: #fffab7;
}
.voter-detail .vote-line {
  padding: 2px 3px 2px 7px;
  border-top: 1px solid #eee;
}
.voter-detail .vote-context {
  margin: 2px 0 10px;
  padding: 10px 15px;
  background-color: #fffab7;
}
.voter-detail .vote-line .candidate {
  display: inline-block;
  width: calc(100% - 50px);
}
.voter-detail .vote-line .candidate .state {
  color: grey;
  font-size: 12px;
}
.voter-detail .vote-line .vote {
  display: inline;
}
.voter-detail .vote-line .vote div.yea {
  background-color: #75ccca;
  color: #fff;
}
.voter-detail .vote-line .vote div.nay {
  background-color: #ef8b67;
  color: #fff;
}
.voter-detail .vote-line .vote div {
  display: inline-block;
  width: 25px;
  text-align: center;
  border-radius: 4px;
  color: rgba(101, 31, 255, 0);
}
.voter-detail *,
.voter-detail :after,
.voter-detail :before {
  box-sizing: border-box;
}

.bs-example {
  position: relative;
  padding: 20px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
}
